* {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-family: monospace;
}

body {
    overflow: hidden;
    font-family: monospace;
    color: white;
    background: #444;
}

a {
    color: #03a9f4;
}

#appContainer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #555;
}

#appNavigation {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    background: #444;
    width: 100%;
    flex-direction: row;
    box-shadow: 0 0 10px black;
    align-items: center;
}

#appContent {
    display: flex;
    height: calc(100% - 100px);
    overflow: hidden;
}

#appFooter {
    height: 50px;
    display: flex;
    background: #444;
    box-shadow: 0 0 10px black;
    z-index: 500;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    color: white;
    justify-content: space-between;
}


div#appSvgArea {
    width: calc(100% - 330px);
    margin-right: -20px;
    height: calc(100% + 20px);
    overflow: scroll;
    position: relative;
}

.innHidd {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    height: 101%;
    width: 100%;
    top: 0;
    left: 0;
}

div#appSidebar {
    width: 350px;
    background: #404040;
    box-shadow: 0 0 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

button {
    font-size: 16px;
    background: #333;
    box-shadow: 0 0 2px gray;
    border: none;
    padding: 5px 10px;
    color: white;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.2s ease all;
}

button:hover {
    box-shadow: 0 4px 10px slategray;
    transition: 0.4s ease all;
    background: #444;
}

button:active {
    transition: 0.1s ease all;
    box-shadow: 0 px 2px white;
    background: #111;
}

button:focus {
    outline: none;
}



.logoSection {
    width: 330px;
    background: rgb(3 169 244 / 12%);
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    font-size: 25px;
}
.logoSection:before{
    content: "<{[|";
    color: #03A9F4;
}
.logoSection:after{
    content: "|]}>";
    color: #03A9F4;
}

.navOptions {
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index:  20;
}

.dropDownMenu {
    display: block;
    position: relative;
    min-width: 150px;
    background: gray;
    transition: 0.2s ease all;
}

.dropDownMenu .subMenu {
    height: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    background: gray;
}

.dropDownMenu button {
    width: 100%;
    margin: 0;
    padding: 1em 0;
    font-size: 1em;
}

.dropDownMenu .subMenu button {
    font-size: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.dropDownMenu.open .subMenu {
}

.dropDownMenu.open .subMenu button {
    padding: 1em 0;
    font-size: 1em;
}


div#appModal {
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 35%);
    box-shadow: inset 0 0 50px 20px black;
}


div#appModal .inner {
    background: gray;
    width: auto;
    position: absolute;
    display: block;
    width: 350px;
    display: flex;
    flex-direction: column;
    top: 5em;
    left: calc(50% - 175px);
    box-shadow: 0 0 50px 20px black;
}

div#appModal .inner .title {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#appModal .inner .content {
    display: flex;
    flex-direction: column;
}

div#appModal .inner .content .singleOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    /* background: orange; */
    border-top: 1px solid gray;
}

div#appModal .inner .options {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    border: none;
    background: #444;
    color: white;
    padding: 0.25em 1em;
    font-size: 1em;
}

.goodColor {
    background: #03A9F4;
}

.badColor {
    background: #9C27B0;
}

.reallyBadColor {
    background: #FF5722;
}

.fukNoColor {
    background: #F44336;
}


#appSidebar .content {
    flex: 1;
}

#appSidebar .tabs .singleTabName {
    display: flex;
    flex-direction: row;
    border-right: 1px solid gray;
    padding: 1em;
}

div#appSidebar .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
}

div#appSidebar .tabs {
    width: 100%;
}

div#appSidebar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background: #333;

}


.svgSideElem {
    display: flex;
    flex: 0;
    margin: 5px;
    background: #5a5a5a;
    padding: 5px;
}


#appSidebar .content .svgSideElem {
    display: flex;
    justify-content: space-between;
    transition: 0.25s ease all;
    align-items: center;
}

.svgSideElem.pathElem {
    margin: 5px 10px;
    background: linear-gradient(90deg, transparent, #3c515a, transparent);
    background-size: 200%;
    background-position: left;
    border: 1px solid #3f4547;
    padding: 5px 10px;
}

.svgSideElem:hover {
    background-position: right;
    transition: 0.5s ease all;
}


input[type='range']{
    padding: 0;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #444444;
    border-radius: 20px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 2px #000000, 0px 0px 2px #0d0d0d;
    cursor: pointer;
    border-radius: 20px;
    margin-top: -3.6px;
  }





  div#appModal.modalSidebar {
    position: absolute;
    top: 50px;
    padding: 0;
    right: -350px;
    width: 350px;
    background: #08253ced;
    left: unset;
    height: calc(100% - 100px);
    box-shadow: none;
    transition: 0.25s ease all;
}

div#appModal.modalSidebar .inner {
    box-shadow: none;
    background: transparent;
    top: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
}


div#appModal .inner .content .singleOption .options {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

div#appModal .inner .content .singleOption .options input {
    margin: 5px 0;
}



div#appModal .inner .content .singleOption.extensiveOption {
    flex-direction: column;
    border: 1px solid #03A9F4;
    padding: 0;
}

div#appModal .inner .content .singleOption.extensiveOption h4 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #03A9F4;
    padding: 5px 10px;
    background: rgb(0 0 0 / .5);
    margin-bottom: 0;
}




.footerOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.singleFooterOption {
    display: flex;
    margin: 0 10px;
    
}


#appFooter input[type='range']{
    padding: 0;
    margin: 0 10px;
  }
  
#appFooter input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #666666;
    border-radius: 20px;
  }
  
#appFooter input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 2px #000000, 0px 0px 2px #0d0d0d;
    cursor: pointer;
    border-radius: 20px;
    margin-top: -2.6px;
  }