div#debugContainer {
    position: fixed;
    width: 100%;
    height: 30vh;
    bottom: -30vh;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px gray;
    display: flex;
    flex-direction: column;
    color: white;
    transition: 0.25s ease all;
}

div#debugContainer.shown{
    bottom: 0;
}

div#debugHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

div#debugContent {
    display: flex;
    flex-direction: row;
    flex: 1;
    background: rgba(255, 255, 255 , .1);
}

button.debugToggler {
    position: fixed;
    bottom: 0;
    right: 10px;
    border-radius: 20px 20px 0 0;
}

div#debugContainer.shown button.debugToggler{
    position: relative;
    bottom: unset;
    right: unser;
    border-radius: 0    ;
}


div#debugContentEvents {
    width: 350px;
    display: flex;
    height: 100%;
}

div#debugContentJSON {
    height: 100%;
    padding: 5px;
}