.scroller * {
    overflow-anchor: none;
}

.anchor {
    overflow-anchor: auto;
    height: 1px;
}
  




app-debug-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 30vh;
    width: 100%;
    background: #444;
    font-size: 20px;
    line-height: 1em;
    color: white;
    overflow: auto;
}

.debug-element:hover {
    box-shadow: 0 0 10px black;
    transition: 0.25s ease all 10s;
}


.debug-log {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.debugLogSingleItem {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
}


app-debug-container.debug-element * {
    line-height: 1em;
    margin: 0;
}

.debug-log {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    background: #4e4e4e;
    border: 10px solid gray;
    box-shadow: 0 0 17px black;
}

.debug-log .debug-log-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}

.debug-log .debug-log-list {
    /* display: flex; */
    /* flex-direction: column; */
    /* grid-gap: 5px; */
    background: #444444;
    padding: 5px;
    min-height: 150px;
    overflow: auto;
    height: calc(100% - 50px);
    display: block;
}

.debug-log .debug-log-list .debugLogSingleItem {
    background: #5a5a5a;
    border-bottom: 1px solid lightgray;
    border-top: 0.5px solid lightgray;
    padding: 5px 10px;
    font-size: 12px;
}

.debug-log .debug-log-list .debugLogSingleItem:hover {
    background: #444444;
}